target/
.git
.gitignore
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
mvnw
mvnw.cmd
mvnw.cmd:Zone.Identifier
README.md
HELP.md
*.md
.idea/
*.iml
*.iws
*.ipr
.DS_Store
.classpath
.factorypath
.project
.settings
.springBeans
.vscode-server
